@import "tailwindcss";

@font-face {
  font-family: 'Apercu';
  src: url('/fonts/ApercuPro-Regular.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Apercu';
  src: url('/fonts/ApercuPro-Bold.woff2') format('woff2');
  font-weight: 700;
}

html {
  font-family: 'Apercu', 'DM Sans', 'Inter', sans-serif;
}
